*.o
*.exe
src/tarefa*/testes/*.out

src/tarefa00/bomdia
src/tarefa00/boanoite

src/tarefa01/megasena

src/tarefa02/tarefa02
src/professor_carlos

src/tarefa03/fakenews

src/tarefa04/seaofwords

src/tarefa05/calculadora

src/tarefa06/sala_de_espera

src/tarefa07/mensageiro

src/tarefa08/listas_legais
src/listas_legais

src/tarefa09/diadeuber
src/diadeuber

src/tarefa10/corretor
src/tarefa10/*.o
src/tarefa10/_pycache_

src/tarefa11/caminho
src/tarefa11/testes/*.png
